body{font-family: sans-serif;}

.top_bar{
text-align: center;
color: white;
font-size: 5em;
background-color: red;
padding-bottom: 1%;
padding-top: 2%
}

input[type=text]{ width: 50%; padding-top: 5px; border-radius: 5px;}
input[type=button]{ width: 10%; padding-top:5px; border-radius: 5px; text-align: center;}



li{

      /*background-color:rgb(180, 180, 180);*/
background-color:gold;
      float: center;
      padding: 1em;
      list-style-type: none;
      margin: 1em;
      border-radius: 5px;
}